html{
    box-sizing: border-box;
    margin: -8px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 1020px;
    margin: 0 auto;
}


@media (max-width:1020px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 750px;
    }
    .holderh{
        transform: translate(85px, 0px) !important;
    }
    .search-box{
        width: 200px !important;
    }
    .long{
        margin: -21px 8px 0px 6px !important;
        
    }
    .flex{
        margin: 30px 20px 0px 20px !important;
    }
}
@media (max-width:767px){
    .container{
        width: 701px;
    }
    .search-box{
        width: 185px !important;
    }
    .man{
        max-width: none;
        height: 159px !important;
    }
    .image{
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .long{
        overflow: hidden !important;
    }
    
}



.news {
    height: 60px;
    max-width: 1020px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.title_head {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.holderh{
    display: flex;
    position: absolute;
    transform: translate(205px, 0px);
}

.lupa{
    display: block;
    transform: translate(31px, 6px);
    z-index: 1;
}

.search {
    display: flex;
    align-items: center;
    transform: translate(0px, 0px);
    
}
input::-webkit-input-placeholder { 
    color: rgb(0, 0, 0);
}

.search-box{
    width: 310px;
    height: 32px;
    padding: 0px 0px 0px 40px;
    background-color: #e0e0e0;
    border-radius: 4px;
    border: none;
    
}
.burger {
    
    
}

.checkbox .firstlabel{
    cursor: pointer;
    display: block;
}

#check{
    transform: translate(0px, 1px);
    z-index: 0;
    display: none;
}

.main-menu{
    width: 285px;
    position: absolute;
    transform: translate(-340px, -17px);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    transition: 0.2s;
    opacity: 0;
}

.main-menu a:visited{
    color: #000;
    opacity: 0;
    
}

.main-menu a:first-child:hover{
    color: #2F80ED;
}


#check:checked ~ .main-menu{
    opacity: 1;
    
}

#check:checked ~ .firstlabel{
    display: none;
}
#check:checked ~ #exit{
    display: block;
}

#exit{
    display: none;
    cursor: pointer;
}







.categories {
    position: absolute;
    transform: translate(-78px, 18px);
    display: none;
}

.news-holder{
    display: flex;
    width: 228px;
    height: 120px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    justify-content: space-around;
    position: absolute;
    transform: translate(1px, 25px);
    z-index: 1;
    
}

.news-cards {

}
.newscard1 {
    z-index: 1;
    padding-top: 0px;
}
.newscard2 {
    z-index: 1;
}
.newsbackground {
    position: absolute;
    transform: translate(0%, 0%);
    z-index: 0;
}

.news-holder p{
    margin-top: -10px;
    color: #000;
}

.news-holder p:hover{
    color: #2F80ED;
}

.categorieshover:hover ~ .categories{
    display: block;
}
.categories:hover{
    display: block;
}

.categorieshover{
    color: #000;
}









.man {
    height: 243px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 28px;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}
.long {
    max-width: 430px;
    margin: 15px 0px 0px 60px;
    overflow: auto;
}
.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #2D3748;
}
.text {
    color: #718096;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.data {
    display: flex;
    justify-content: space-between;
}
.day {
    color: #718096;
    font-size: 14px;
}
.readmore {
    color: #2D3748;
    font-weight: 700;
    font-size: 14px;
}
.image {
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.flex {
    max-width: 297px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    margin: 30px 0px 0px 0px;
    min-height: 400px;
    flex: 1 1 33.333%;
}
.img {
}

.holder{
    width: 258px;
    margin: 0 auto;
}

.sectitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    color: #2D3748;
}
.sectext {
    color: #718096;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.secdata {
    display: flex;
    justify-content: space-between;
}
.secday {
    color: #718096;
    font-size: 14px;
}
.secreadmore {
    color: #2D3748;
    font-weight: 700;
    font-size: 14px;
} 

a{
    text-decoration: none;
}

.scrollrow{
    display: flex;
    flex-direction: row-reverse;
    
}

.scroll {
    background-color: #2F80ED;
    border-radius: 5px;
    width: 141px;
    height: 37px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0px 60px 0px;
    cursor: pointer;
    
}



.scrolltext {
    width: 100px;
    color: white;
    
}

.scrollicon {
    width: 32px;
    padding-top: 3px;
    
}

.border{
    border-top: 1px solid #E8E8E8;
}

.footer {
    
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}















a:visited{
    color: #2D3748;
}


#exit{
    width: 18px;
}